body{
    background-color: rgb(241, 241, 241);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#gameName{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    font-family: 'Bungee', cursive;
    margin: 0;
    padding: 0.5em;
    color: rgb(12, 12, 12);
    background-color: rgb(216, 55, 55); 
}

#container{
    display: flex;
    width: 60vh;
    height: 60vh;
    flex-flow: row wrap;
    user-select: none;
}

.square{
    width: 33%;
    height: 33%;
    border-color: royalblue;
    border-width: 2px;
    border-style: solid;
}